<%= render "shared/header" %>
<%= render "shared/linkbar" %>

<div class="flex_height shadow project-notfound">

	<div class="contact-title">
		<h3 class="contact-title">Student Created</h3>
	</div>

	<div class="button horizontal_list" style="margin: 10px 10px">
		<%= button_to "Back To Project "+params[:id]+" edit Page", edit_path(params[:id]), :method => :get, class: "project-search-notfound-backbutton"%>
	</div>
	<br/>
</div>
