<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>PPMS Account Created</h1>
    <p>Hello <%= @fullname %></p>
    <p>An admin account has been created for you to validate prospective projects by liasing with the Prospective Industry partners that submit projects.<p>
    <p>Here are your details:</p>
    <p>
    	Username: <%= @username %><br />
    	Temporary password: <%= @newpass %>
    </p>
    <p>Please <a href="">click here</a> to login and update your password.</p>
  </body>
</html>
