<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>PPMS Password Reset</h1>
    <p>Your PPMS Password has been reset to: <%= @newpass %></p>
    <p>Please <a href="localhost:3000/login">click here</a> to login and update your password.</p>
  </body>
</html>
