<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>PPMS Account Created</h1>
    <p>Hello <%= @fullname %></p>
    <p>An Industry account has been created for you to submit your project proposal to the University of Adelaide Software Engineering Program!<p>
    <p>Here are your details:</p>
    <p>
    	Username: <%= @username %><br />
    </p>
    
    <p>Please <a href="http://csbesfw3.services.adelaide.edu.au:8081/login">click here</a> to login and submit a project if you haven't already!</p>
  </body>
</html>
