<!--########################## BANNER ####################################-->
<% if flash[:notice] %>
  <font color="black"><%= flash[:notice] %></font>
<% end %>
<div class="wrapper navigation">

  <div id="navi" class="flex_height">

  </div>

</div>
