<!--########################## BANNER ####################################-->
<% if flash[:notice] %>
  <font color="black"><%= flash[:notice] %></font>
<% end %>
<div class="wrapper navigation">

  <div id="logged" class='to_right'>
    <p><font color="white">Logged in as: <%=@current_user.username%></font></p>
  </div>

  <div id="navi" class="flex_height">

    <!-- Search bar -->
    <div class="to_right">
      <form action="#" method="post" id="search">
        <input type="text" value="Search&hellip;" onfocus="this.value=(this.value=='Search&hellip;')? '' : this.value ;" />
        <input type="image" id="go" src="/images/search_r.gif" alt="Search" />
      </form>
    </div>

    <!-- Menu bar -->
    <div id = "navi_tabs" class="button horizontal_list to_left">
      <ul>
        <li><%= link_to "Home", root_path %></li>
      </ul>
    </div>

  </div>

</div>
