@import url(forms.css);
@import url(dashboard.css);
/*------------------------------------------------- Initial setup---------------------------------*/
body{margin:0; padding:0; font-size:13px; color: black; font-family:Georgia, "Times New Roman", Times, serif; background-color: #E6E6E6; }
a { outline:none; text-decoration:none;}
img {margin:0; padding:0; border:none; width:100%; height:100%;}

/*------------------------------------------------- Conmon styles---------------------------------*/
.flex_height:after{content:" "; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
.justify {text-align: justify;}
.to_left{float:left;}
.to_right{float:right;}

.shadow{ box-shadow: 0px 0px 10px 3px #888888; background-color:white;}
.button {
	margin: 0;
	display: block;
	}
	
.button ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	}

.button li {
	float: left;
	padding: 2px;
}	
.button a:link, a:visited {
    display: block;
    width: 100px;
    font-weight: bold;
    color: white;
    background-color: #333333;
    text-align: center;
    padding: 4px;
    text-decoration: none;
	}
.button a:hover{
    background-color: #ABDA0F;
    color:#000;
	}
.button a:active {
    background-color: #7A991A;
    }

div.wrapper h1 {	
	margin:0;
	padding:0;
	font-size:25px;
	font-weight:normal;
	}
.general_box {
	margin:auto;
	padding: 20px;
}


/* ----------------------------------------------Wrapper-------------------------------------*/
.wrapper{
	display:block;
	width:100%;
	margin:0;
	padding:0;
	}

/* -------------------------------------------Specific Wrappers-------------------------------------*/
.banner{
	color:#F2EEEE; 
	background-color:#191919; 
	border-top:8px solid #7A991A;
	}

.navigation{
	background:#202020;/*linear-gradient(#56585D, #2F3034) repeat scroll 0% 0% transparent;*/
	color:#F2EEEE;
	}

.gallery{
	background-color:none;
	}

.content{
	color:#F2EEEE; 
	background-color:none;
	}

.footer{
	color:#F2EEEE;
	background-color:#191919;
	}

/* ----------------------------------------------General-------------------------------------*/
#top_bar, #navi, #slides, #news {
	margin: auto;
	width:70%;	
	}

#top_bar, #navi {
	padding:10px 0;
	}

/* ----------------------------------------------Navi bar-------------------------------------*/
#menu {
	margin-left: 30px;
	}

/* ------------------------------------ Slides ----------------------------------------------*/
#slides {
	margin-top: 12px;
	}		

/* ------------------------------------ Content ----------------------------------------------*/
#news {
	background-color: #fff;
	color: #000;
	min-height: 500px;
}

#news p {
	padding: 20px;
}
/* ------------------------------------ Submit ---------------------------------------------- */
#submit {
	position: fixed;
	top: 550px;
	left: 620px;
}
