<div id="specification_page">

  <div id="project">
    <h1>Project: <span id="spec_name" data-mercury="full" contenteditable="true"><%= raw @spec.spec_name %></span></h1>
  </div>

  <hr>

  <div class="content">
    <h1>Specification</h1>
    <div id="spec_content" data-mercury="full" contenteditable="true">
      <p><%= raw @spec.spec_content %></p>
    </div>
  </div>

</div>
