// Place all the styles related to the dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* ----------------------------- project_item -------------------------------- */
.project_item {
  color: black;
  border: 1px solid;
  border-radius: 8px;
  padding: 10px;
  margin: 5px;
}
