<%= render "shared/header" %>
<%= render "shared/linkbar" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>


<div class="wrapper content">
<div id="news" class="flex_height shadow">
<h1 class="contact-title"><strong>Contacts</strong></h1>
<p></p>
<h2 class="tab1"> General Enquiries:</h2>
<h3 class="tab2">Phone: <span class="ContactInfo"> <em>8343245</em> </span></h3>
<h3 class="tab2">Email:<span class="ContactInfo"> <em>adelaideuni@adlaide.edu.au</em></span></h3>
<p></p>
<h2 class="tab1"> Student Enquiries:</h2>
<h3 class="tab2">Phone:<span class="ContactInfo"> <em>8343245</em></span></h3>
<p></p>
<h2 class="tab1"> Course Coordinator:</h2>
<h3 class="tab2">Phone:<span class="ContactInfo">  <em>23453544</em></span></h3>
<h3 class="tab2">Email: <span class="ContactInfo"> <em>kevin@cs.adelaide.edu.au</em></span></h3>
<p></p>
<p></p>

</div>
</div>
