<%= render "shared/header" %>
<%= render "shared/linkbar" %>

<div class="flex_height shadow">

	<div class="contact-title">
		<h1 class="contact-title">Project created</h1>
	</div>

	<%= button_to "Back To Past Project Show", index_path(), class: "project-search-notfound-backbutton",:method => :get%>
</div>
<%= render "shared/footer" %>

