<h1>Home</h1>
<h2><%= flash[:notice] %></h2>

<p>	
	<table>
			<tr>
		    <th>Project Name</th>
		    <th>Group Name</th>
		    <th>Summary</th>
		    <th></th>
		    <th></th>
		  	</tr>
		<% @projects.each do |project| %>
		<tr>
			<td><%= project.title %></td>
			<td><%= project.group %></td>
		</tr>
		<% end %>
	</table>
	

	<% @projects.each do |project| %>
		Hello
		<%= image_tag @projects.image_url(:thumb) if @projects.image? %>
	<% end %>
</p>
