  <%= render "shared/header" %>
  <%= render "shared/linkbar" %>
  <div class="wrapper content">
    <div id="news" class="flex_height shadow">
      <p class="justify">
      <h1>Submit a student's project</h1>
      <p text-align: left>
        <div class = "studentProjectForm">
        <%= render :partial => "form" %>
        </div>
      </p>
      </p>
    </div>
  </div>
<%= render "shared/footer" %>
