<%= render "shared/header" %>
<%= render "shared/linkbar" %>

<div class="flex_height shadow project-notfound">

	<div class="contact-title">
		<h3><strong>Projects Not Found</strong></h3>
	</div>

	<%= button_to "Back To Past Project Show", index_path(), class: "project-search-notfound-backbutton",:method => :get%>
</div>
