<%= render "shared/header" %>
<%= render "shared/linkbar" %>

<div class="flex_height shadow project-notfound">

	<div class="contact-title">
		<h3 class="contact-title">Project Updated</h3>
	</div>
	<div class="to_right">
		<span class="to_left"><%= button_to "Back To Project "+params[:id]+" Edit Page", edit_path(params[:id]), :method => :get%></span>
		<span class="to_right"><%= button_to "Back To Past Project Show", index_path(), :method => :get%></span>
	</div>
</div>
