.tab1 {
	margin-left: 100px;
	color: blue;
}

.tab2 {
	margin-left: 400px;
}

.ContactInfo {
	color: #4700ff;
}

.contact-title {
	font-family: Georgia, Times, serif;
	color: #b38807;
	font-size: 2.28em;
	font-weight: normal;
	margin-left: 10px;
}
