/*-------------- General layout ------------*/

#container {
	margin: 8px auto;
	width:70%;
	padding: 4px 0px 10px 10px;
	background: none;
	min-height: 350px;
	}

div.content {
	margin-top: 8px;
	}

#communication, #pick_to_communicate{
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 4px;
	width:98%;
	}

#communication {
	background-color: #424242;
	width:98.5%;
	height:110px;
	
	margin-top:5px;
	}

#communication_extra {
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 4px;
	width:75%;
	background-color: #424242;
	height:110px;
	}

#pick_to_communicate {
	background-color: #424242;
	width:20%;
	height:110px;
	}

#pick_to_communicate select {
	color: black;
	border: none;
	outline: none;
	background-color: #F2EEEE;
}

#pick_to_communicate legend {
	color: white;
	background-color: #424242;
	padding: 3px;
}



#board_showing {
	background-color: #FAFAFA;
	padding: 0;
	min-height: 500px;
	}

#new_board_showing {
	background-color: #FAFAFA;
	padding: 15px;
	min-height: 500px;
}

/*------------------- Top bar --------------------- */
#navi_tabs li {
	margin-right: 8px;
	width: 120px;
}

/*------------------- Tabs aside ------------------*/
.aside_cols {
	padding:0;
	margin: 5px 0 0 0;
	border:0;
	width:14%;
	}

#tabs, #cart {
	background-color: #C7DAEA;
	width: 95%;
	margin: 2px 0px;
	font-family: Arial,Helvetica,sans-serif
}

#tabs {
	padding: 3px 0px 2px 3px;
}

#cart {
	padding: 3px 3px 2px 0px;
}

#tabs a, #cart a {
	padding: 15px;
}

#tabs li, #cart li {
	border-bottom: 1.5px solid black;
}

.tab a:link, .tab a:visited{
    display: block;
    color: white;
    text-decoration: bold;
    background-color: #005AA3;
    text-align: center;
	margin: 0;
	border: 0;
	padding: 5px;
	transition: background-color 0.2s;
}

.tab a:hover{
    background-color: #4391CA;
	cursor: pointer;
}

.tab a:active{ 
    background-color: #4391CA;
}


/*---------- Project showing --------*/
#action_to_showing_board input {
	margin-left: 4px;
	width: 100px;
	border-radius: 4px;
}

#search_date input {
	height: 18px;
	float: left;
	border: none;
	text-align: center;
	}

#search_date input[type="image"]{
	margin-left: 7px;
	width: 20px;
}

#search_date input[type="text"] {
	width:100px;
}

#show_specification {
	width:76%;
	}


#showing_list {
	width: 22%;
	}

#showing_list select {
	height: 250px;
	width: 100%;
	margin-top: 10px;
	}

/*--------------- Mailing box ------------------*/
#action_to_message {
	width: 13%;
	padding: 5px;
	}


#action_to_message li {
	position: relative;
	overflow: hidden;
	margin: 4px auto;
	width: 80%;
	}

#action_to_message a  {
	padding:13px;
	}

#action_to_message input[type="file"] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 13px;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}


#action_to_message input {
	padding:13px;
	width: 100%;
	}

#message_box {
	width: 83%;
	padding: 0;
	margin: 0 6px;
	}

#message_box textarea {
	margin-top: 35px;
	height: 70px;
	width: 100%;
	padding: 0px;
	}

#message_box input {
	display: block;
	background-color: #DFDFDF;
	border-radius: 3px;
	width: 47%;
	padding: 4px;
	margin: 0;
	}

#pick_to_communicate select {
	width: 100%;
	margin-top: 10px;
	}

/*----------------------- Process projects in cart ---------------*/
#edit_specification {
	width:100%;;
	min_height: 400px;
	}
#edit_specification object {
    width: 100%;
    min-height: 400px;
	}

/* -------------------------- Message log ------------------------ */
.user_message {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	margin: 10px 10px;
	padding:4px;
	background-repeat: no-repeat;
	background-position: 10px center;

	color: #6E6E6E;
	background-color: #F2F2F2;
	border-radius: 4px;
}

/* -------------------------- Table ----------------------------- */

.project_list strong a:link, .project_list strong a:active, .project_list strong a:visited{
	font-weight: bold; 
	color: black;
}

.project_list strong a:hover {
	color: blue;
}

.project_list em {
	font-style: italic; 
}

.project_list table {
	background: #f5f5f5;
	color:black;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	line-height: 24px;
	margin: 20px auto;
	text-align: left;
	width: 95%;
}	

.project_list th {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
  	font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
}

.project_list th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

.project_list td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
}	

.project_list tr {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png);	
}

/* ---------------------------------- content section header ------------------------- */
.content_bar {
	margin:0;
	padding: 10px 10px 25px 25px;
	background: #EEE;
	height: 30px;
}

.content_bar h3 {
	color: #5e5c54;
}

/* --------------------------------- project_item ---------------------------------- */
.project_item{
  color: black;
  border-radius: 8px;
  padding: 30px;
}
.project_item h3, .project_item h1 {
	color: #B38808;
	border:none;
}
.project_item > div {
	width: 48%;
}

/* ---------------------------------- title item --------------------------------- */
.title_item {
	padding: 15px;
	word-spacing: 4px;
	background: #EEE;
	margin: 4px;
	color: #333;
} 

hr.fancy-line { 
	height: 12px; 
	border: 0; 
	box-shadow: inset 0 12px 9px -12px rgba(0,0,0,0.5); 
}

.title_item strong {
	color: #005A9C;
}


/* --------------------------------- assign project to student ---------------------------------- */

#form_team {
	padding: 0px 20px 20px 20px;
	width: 45%;
}

#message_for_students {
	padding: 0px 20px 20px 20px;
	width: 45%;
}

#form_team p, #message_for_students p{
	color: #005A9C;
	font-weight: bold;
}

#new_board_showing legend{
	color: #B38808;
	font-weight: bold;
}

.student_assigned fieldset{
	margin: 10px 10px 20px 10px;
}

/*- ------------------------------------ edit details ----------------------------------------- */
#industrydisplayproject h3{
	color: #005A9C; 
}

#industrydisplayproject div, #industrydisplayproject p {
	color: #5e5c54;
	font-weight: bold;
}

#industrydisplayproject{
	 padding: 10px;
}

/* --------------------------------------- delete message ---------------------------------- */
#delete_message {
	margin: auto;
	width: 80%;
	padding: 20px;
}
#delete_message textarea, #delete_message input {
	float:left;
}



/* ----------------------------------------- User info item ---------------------------- */
.userinfo_item {
	padding: 20px;
	margin: auto;
	color: black;
  	border-radius: 8px;
  	width: 90%;
}
.userinfo_item h3, .userinfo_item h1 {
	color: #B38808;
	border:none;
}
.userinfo_item > div {
	padding: 40px;
	margin:auto;
	border-radius: 8px;
	-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 6px -6px #777;
}
