/*-------------- General layout ------------*/

#container {
	margin: 8px auto;
	width:70%;
	padding: 4px 10px 10px 10px;
	background:none;
	min-height: 350px;
	}

di.content {
	margin-top: 8px;
	}

#communication, #board_showing , #pick_to_communicate{
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 4px;
	width:98%;
	}

#communication {
	background-color: #424242;
	width:98%;
	height:165px;
	}

#communication_extra {
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 4px;
	background-color: #424242;
	height:180px;
	width:75%;
	}

#pick_to_communicate {
	background-color: #424242;
	width:20%;
	height:180px;
	}

#board_showing {
	background-color: #FAFAFA;
	}


/*------------------- Top bar --------------------- */
#navi_tabs li {
	margin-right: 8px;
	width: 120px;
}

/*------------------- Tabs aside ------------------*/
.aside_cols {
	padding:0;
	margin: 5px 0 0 0;
	border:0;
	width:14%;
	}

#tabs, #cart {
	border-radius: 6px;
	background-color: #333333;
	width: 95%;
	margin: 4px 0px;
}

#tabs {
	padding: 4px 0px 4px 4px;
}

#cart {
	padding: 4px 4px 4px 0px;
}

#tabs a, #cart a {
	padding: 15px;
}

#tabs li, #cart li {
	border-top: 1px solid black;
}

/*---------- Project showing --------*/
#action_to_showing_board input {
	margin-left: 4px;
	width: 100px;
	border-radius: 4px;
}

#search_date input {
	height: 18px;
	float: left;
	border: none;
	text-align: center;
	}

#search_date input[type="image"]{
	margin-left: 7px;
	width: 20px;
}

#search_date input[type="text"] {
	width:100px;
}

#show_specification {
	width:76%;
	}


#showing_list {
	width: 22%;
	}

#showing_list select {
	height: 250px;
	width: 100%;
	margin-top: 10px;
	}

/*--------------- Mailing box ------------------*/
#action_to_message{
	width: 14%;
	padding: 5px;
	}


#action_to_message li {
	margin: 4px auto;
	width: 80%;
	}

#action_to_message a {
	padding:13px;
	}

#action_to_message input {
	padding:13px;
	width: 100%;
	}

#message_box {
	width: 83%;
	padding: 0;
	margin: 0 6px;
	}

#message_box textarea {
	margin-top: 35px;
	height: 125px;
	width: 100%;
	padding: 0px;
	}

#message_box input {
	display: block;
	background-color: #DFDFDF;
	border-radius: 3px;
	width: 48%;
	padding: 4px;
	margin: 0;
	}

#pick_to_communicate select {
	width: 100%;
	margin-top: 10px;
	}

/*----------------------- Process projects in cart ---------------*/
#edit_specification {
	width:100%;;
	}
#edit_specification textarea{
	height:300px;
	}
