form{
	margin:0;
	padding:0;
	border:none;
	}

input{
	font-size:14px;
	font-family:Georgia, "Times New Roman", Times, serif;
	}

label{
	display:inline-block;
	width: 25%;
	text-align: right;
	}

fieldset {
	padding: 12px;
	border: none;
	box-shadow: 0px 0px 4px 5px rgba(122,153,26, 0.1);
}

select {
	margin:auto;
	display:block;
	width: 100px;
}

legend {
	padding:5px;
	background-color: #fff;
	color: #555555;
	box-shadow: 0px 0px 2px 4px rgba(122,153,26, 0.1);
	}

textarea {
	margin:auto;
	display:block;
}
/* ----------------------------------------------General-----------------------------------------*/
.forms {
	margin: 21px auto;
	background: #fff;
	padding: 20px 30px;
	box-shadow:
        0px 0px 0px 4px rgba(255,255,255,0.5 ),
        0px 4px 20px rgba( 0,0,0,0.4 );
  	border-radius: 3px;
}

.titles h3 {
    color: #555555;
    font-size: 25px;
    margin-top: 5px;
	}

.inputs #separator {
	background-color: none;
	color: #838080;
	text-align: center;
	}

.inputs label {
	display: inline-block;
	width: 25%;
	text-align: right;
	padding: 5px;
	}

.inputs input[type=text], input[type=password], textarea{
		width: 93%;
    background: #f6f6f6;
    color: #555555;
    padding: 12px 12px;
    border-radius: 3px;
   	box-shadow: inset 0px 2px 2px rgba( 0,0,0,0.1 );
   	margin-top: 10px;
   	margin-bottom: 10px;
   	outline:0;
    border:0;
    clear:both;
	}

.inputs input[type=text]:focus, input[type=password]:focus, textarea:focus  {
    background: #fff;
    box-shadow: 0px 0px 4px 1px rgba(124,153,26, 0.3);
	}

input[type="file"] {
	width:100%;
	box-shadow: 0px 0px 2px 4px rgba(122,153,26, 0.1);
	outline:none;
	}

/* ----------------------------------------------Search Form-------------------------------------*/

#search{
	float:right;
	margin:0;
	padding:0;
	}

#search input{
	display:block;
	float:left;
	width:120px;
	height:20px;
	margin:0;
	padding:5px 5px 5px 10px;
	color:#C7CED6;
	background:url("/images/search_l.gif") 0 0 no-repeat #2C2C2C;
	border:none;
	}

#search input#go{
	width:35px;
	height:30px;
	margin:0;
	padding:0;
	cursor:pointer;
	background:none;
	}


/* ----------------------------------------------Search Form-------------------------------------*/
#project {
	width:700px;
	margin: auto;
	}

#companyDetails {
	width: 40%;
	margin: auto;
	}

#projectDetails {
	width: 40%;
	margin: auto;
	}

/* ---------------------------------------------- Login form------------------------------------*/
#login {
	width:300px;
	}

#login	input[type="submit"], #login .button a {
	margin: 35px 4px 4px 4px;
	padding: 4px;
	width: 138px;
	border-radius: 4px;
}

#login_buttons a{
	margin: 1px 4px;
	padding: 4px;
	width: 120px;
	border-radius: 1px;
}

/* ------------------------------------- Submission -------------------------------------*/
#subPro {
	width: 65%;
	height: 482px;
	clear:both;
	}

.leftPart{
	width:40%;
	height:330px;
	}

.rightPart{
	width:50%;
	height:330px;
	}

#subBtn input[type="submit"], #subBtn a {
	font-size: 14px;
	margin: 35px 4px 4px 4px;
	padding: 4px;
	width: 138px;
	border-radius: 4px;
}
#subBtn a {
	height: 19px;
}

/* ---------------------------------------- Registration -------------------------------- */
#ProfileSetting {
	width: 400px;
}

/* ---------------------------------------- Profile -------------------------------- */
#CreateAdminDiv {
	width: 700px;
}

