@import url(forms.css);
@import url(dashboard.css);
@import url(courseInfo.css);
@import url(contacts.css);
@import url(project-page.css);
@import url(carousel.css);

/*------------------------------------------------- Initial setup---------------------------------*/
body{margin:0; padding:0; font-size:13px; color: #333; font-family:Georgia, "Times New Roman", Times, serif; background-color: #E6E6E6; }
a { outline: none none; text-decoration:none;}
img {margin:0; padding:0; border:none; width:100%; height:100%;}

/*------------------------------------------------- Conmon styles---------------------------------*/

.flex_height:after{content:" "; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
.justify {text-align: justify;}
.to_left{float:left;}
.to_right{float:right;}

.shadow { box-shadow: 0px 0px 4px 4px #888888; background-color:white;}

.inset_shadow {
}

.field_with_errors input[type="text"], .field_with_errors textarea {
	box-shadow: inset 0px 0px 1px 2px #7A991A;
	border-radius: 2px;
}

.img {
margin: 5px;
padding: 5px;
border: 1px solid #0000ff;
height: auto;
width: auto;
float: left;
text-align: center;
}

.horizontal_list, .vertical_list {
	margin: 0;
	padding: 0;
	display: block;
	}

.horizontal_list ul {
	list-style-type: none;
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.horizontal_list li {
	display: block;
	float: left;
	padding: 0;
}

.vertical_list ul {
	display: block;
	list-style-type: none;
	width: 100%;
	margin: 0;
  padding: 0;
}

.vertical_list li {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
}


.button a:link, a:visited, .button input {
    display: block;
    font-weight: bold;
    color: #C7CED6;
    background-color: #333333;
    text-align: center;
		margin: 0;
		border: 0;
		padding: 5px;
		transition: background-color 0.2s;
}

.button a:hover, .button input:hover {
    background-color: #ABDA0F;
		color: black;
		cursor: pointer;
}

.button a:active, .button input:focus {
    background-color: #7A991A;
}

.switchButton input {
	background-color: #FAFAFA;
	margin: 0;
	border: 0;
	cursor: pointer;
}

.switchButton input:hover {
		background-color: #F2F2F2;;
}

.switchButton input:focus {
		background-color: #7A991A;
}

div.wrapper h1 {
	margin:0;
	padding:0;
	font-size:25px;
	font-weight:normal;
	}

.general_box {
	margin:auto;
	padding: 20px;
}


/* ----------------------------------------------Wrapper-------------------------------------*/
.wrapper{
	display:block;
	width:100%;
	margin:0;
	padding:0;
	}

/* -------------------------------------------Specific Wrappers-------------------------------------*/
.banner{
	color:#F2EEEE;
	background-color:#191919;
	border-top:8px solid #7A991A;
	}

.navigation{
	background:#202020;
	color:#F2EEEE;
	}

.gallery{
	background-color:none;
	}

.content{
	color:#F2EEEE;
	background-color:none;
	}

.footer{
	margin: auto;
	color:#F2EEEE;
	background-color:gray;
	height: 100px;
	width: 70%;
	}

/* ----------------------------------------------General-------------------------------------*/
#top_bar, #navi, #slides, #news {
	margin: auto;
	width:70%;
	}

#top_bar, #navi {
	padding:10px 0;
	}

/* ----------------------------------------------Navi bar-------------------------------------*/
#menu {
	margin-left: 30px;
	}

/* ------------------------------------ Slides ----------------------------------------------*/
#slides {
	margin-top: 12px;
	}

/* ------------------------------------ Content ----------------------------------------------*/
#news {
	background-color: #fff;
	color: #000;
	min-height: 500px;
}

#news p {
	padding: 20px;
}
/* ------------------------------------ Submit ---------------------------------------------- */
#submit {
	position: fixed;
	top: 550px;
	left: 620px;
}

