.login {
  	width: 300px;
  	margin: auto;
  	margin-top:40px;
  	border: 0;
 	padding: 0;
  	background-color: none;
	}

#sign_in {
	width:100%;
	background: #fff;
	padding: 20px 30px;
	box-shadow: 
        0px 0px 0px 4px rgba(255,255,255,0.5 ), 
        0px 4px 20px rgba( 0,0,0,0.4 );
  	border-radius: 3px;
	}

#sign_in .title h3 {
    color: #555555;
    font-size: 25px;
    margin-top: 20px;
	}

#sign_in .inputs #separator {
	background-color: none;
	color: #838080;
	text-align: center;
	}

#sign_in .inputs input {
	width: 93%;
    background: #f6f6f6;
    color: #555555;
    padding: 12px 12px;
    border-radius: 3px;
   	box-shadow: inset 0px 2px 2px rgba( 0,0,0,0.1 );
   	margin-top: 10px;
   	margin-bottom: 10px;
   	outline:0;
    border:0;
	}

#sign_in .inputs input[type=text]:focus, #sign_in .inputs input[type=password]:focus {
    background: #fff;
    box-shadow: 0px 0px 1px 3px rgba(122,153,26, 0.4);
	}

#sign_in .submit {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 50px;
	}	

#sign_in .submit a:link, a:visited {
	width: 45%;
	padding: 5px;
	display: block;
	float: left;
	margin-right: 4px;
	color: #B0ABAB;
    background-color: #333333;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
	}

#sign_in .submit a:hover {
	background-color: #7A991A;	
	color:#333333;
	}
	
#sign_in .submit a:active {
	background-color: #ABDA0F;
	}	




