<%= render "shared/header" %>
<%= render "shared/linkbar" %>

  <div class="wrapper content">
  <div id="news" class="flex_height shadow">
    <div class="contact-title">
      <h1><strong>404 Not Found </strong></h1>
    </div>
    <p>The requested URL was not found on this server. </p>

      </div>
</div>


</div>

<%= render "shared/footer" %>

