  <!--#######################################################-->
  <div class="wrapper banner">
    <div id="top_bar" class="flex_height">
      <div class="to_left">
        <h1>University of Adelaide</h1>
        <p>School of Computer Science </p>
      </div>

      <div id="login_buttons" class="button horizontal_list to_right">
        <ul>
          <li><a href="login.html">Login</a></li>
          <li><a href="register.html">Register<a/></li>
        </ul>
      </div>
    </div>
  </div>
 <!--#######################################################-->
    <div class="wrapper navigation">
      <div id="navi" class="flex_height">
        <div class="to_left">
          <h1>Industry Engagement</h1>
        </div>

        <div class="to_right">
          <form action="#" method="post" id="search">
            <input type="text" value="Search&hellip;" onfocus="this.value=(this.value=='Search&hellip;')? '' : this.value ;" />
            <input type="image" id="go" src="images/search_r.gif" alt="Search" />
          </form>
        </div>

        <div id="navi_tabs" class="button horizontal_list to_right">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="support.html">Support</a></li>
            <li><a href="about.html">About</a></li>
          </ul>
        </div>
      </div>
    </div>
  <!--##############################################################-->
  <div class="wrapper gallery">
    <div id="slides" class="shadow">
      <img src="images/example.gif" alt="" />
    </div>
  </div>

  <!--##############################################################-->
  <div class="wrapper content">
    <div id="news" class="flex_height shadow">
      <p class="justify">
      </p>
    </div>
  </div>

  <!--##############################################################-->
  <div id="submit" class=button>
    <a  href="submit.html">Submit a Project</a>
  </div>

   <!--##############################################################-->
  <div class="wrapper footer">
    <div class="flex_height">
    </div>
  </div>
