    <!-- Bootstrap core JavaScript -->
    <!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->

<!-- Optional theme -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>



<%= render "shared/header" %>
<%= render "shared/linkbar" %>
<!-- <link rel="stylesheet" type="text/css" href="carousel.css.scss"> -->
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" style = "width:70% ;margin:0 auto">

      <div class="carousel-inner home-page-slide-image">

        <div class="item active">
          <img src="images/csStudentsCROPPED.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1></h1>
              <p class="lead"></p>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="images/softwaredevCROPPED.jpg" alt="">
          <div class="container"> 
            <div class="carousel-caption">
              <h1></h1>
              <p class="lead"></p>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="images/customAppCROPPED.png" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1></h1>
              <p class="lead"></p>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="images/csLanguagesCROPPED.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1></h1>
              <p class="lead"></p>
            </div>
          </div>
        </div>

      </div>

    </div>              
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
  </div><!-- /.carousel -->

  <!--##############################################################-->

</div>
