<%= render "shared/header" %>
<%= render "shared/linkbar" %>

  <!--##############################################################-->
  <div class="wrapper gallery">
    <div id="slides" class="shadow">
      <img src="images/example.gif" alt="" />
    </div>
  </div>
  
  <!--##############################################################-->
  <div class="wrapper content">
    <div id="news" class="flex_height shadow">
      <p class="justify">
      </p>
    </div>
  </div>

  <!--##############################################################-->
  <div id="submit" class=button>
    <a  href="projects/new">Submit Past Projects</a>
    <br/>
    <a  href="submit/">Submit a Project</a>
    <br />
  </div>

<%= render "shared/footer" %>
