    <!-- Bootstrap core JavaScript -->
    <!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->

<!-- Optional theme -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> -->

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>



<%= render "shared/header" %>
<%= render "shared/linkbar" %>
<!-- <link rel="stylesheet" type="text/css" href="carousel.css.scss"> -->
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" style = "width:70% ;margin:auto">

      <div class="carousel-inner">

        <div class="item active">
          <img src="images/csStudentsCROPPED.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1></h1>
              <p class="lead"></p>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="images/softwaredevCROPPED.jpg" alt="">
          <div class="container"> 
            <div class="carousel-caption">
              <h1></h1>
              <p class="lead"></p>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="images/customAppCROPPED.png" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1></h1>
              <p class="lead"></p>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="images/csLanguagesCROPPED.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1></h1>
              <p class="lead"></p>
            </div>
          </div>
        </div>

      </div>

    </div>              
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
  </div><!-- /.carousel -->

  <!--##############################################################-->
  <div class="wrapper content">
  <div id="news" class="flex_height shadow">
    <div class="contact-title">
      <h1><strong>About </strong></h1>
    </div>
    <h2 class="course-title-subheading">Information for students</h2>

    <p class="courseContent">

      This is a full-year software engineering course undertaken by students
      enrolled in the BE(SE) programme. In this course students will be taught
      a wide range of software engineering theory and practice, and apply this
      knowledge to a year-long group based software engineering project.
      The course will cover topics across the various stages of the
      software development lifecycle, including: requirements engineering;
      design; implementation; validation and verification; and maintenance.
      The course will expose the students
      to a variety of process models, including both traditional process
      models, as well as more recent developments, particularly in the area
      of agile process models. The course will teach the importance of
      good project management and planning, with particular emphasis on
      risk assessment and risk management.
      The course will also introduce students to current trends in software
      engineering, including: component-based software engineering; web-based
      software engineering; and agile methods. The course also has a strong
      emphasis on the engineering of safety critical software systems. Here students
      are introduced to techniques for analysing possible hazards and accidents
      associated with safety critical systems, as well as techniques for
      mitigating against these hazards.
      Students will be exposed to a variety of software engineering tools
      throughout the project, including tools for: project planning; software
      design; software
      implementation; software documentation; and software testing. Not only will
      the students learn the theory through a series of lectures in
      the first semester, but they will also apply what they have learnt
      to a year long group based project. Group projects in this 3rd year course
      will typically be done in teams of 4-6 students, with weekly contact
      with lecturing staff.
    </p>

    <h2 class="course-title-subheading">We want your projects</h2>
    <p class="courseContent">
      In Software Engineering, students take on projects in their third and fourth years of study.
      They typically work with an industry partner for these projects, undertaking real world explorations
      of software problems, challenges or innovations. Learn more here and see examples of finished projects.
    </p>

    <h2 class="course-title-subheading">Futher Links</h2>

    <p class="courseContent">

    </p>
    
    <a class="sub-menu-btn ui-accordion-header ui-helper-reset ui-state-default ui-corner-all" href="#"><span class="ui-icon ui-icon-triangle-1-e"></span><span class="icon">Your Future</span></a>
  </div>
</div>

  <!--##############################################################-->
  <div id="submit" class=button>
    <a  href="projects/new">Add a Project from a Previous Year    </a>
  </div>

<%= render "shared/footer" %>

