<%= render "shared/header" %>
<%= render "shared/linkbar" %>
<%= render "shared/banner" %>

<div class="wrapper content">
	<div id="news" class="flex_height shadow">

		<div class="contact-title project-manage-title"></div>

		<div class="project-manage-container">
			<div class="project-manage-subtitle-container">
				<span class="to_left"><strong>Past Projects</strong> </span>
			</div>

			<%= render :partial => "edit_form" %>

		</div>

	</div>
</div>